@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background: #eaf5f2;
    margin: 0;
}

.active-menu {
    display: block;
}

.open-menu {
    left: 0;
    transition: .3s ease;
}

.close-menu {
    left: -500px;
    transition: .3s ease;
}
